.primera-imagen{
    height: 15rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.primera-imagen-img {
    width: 100%;
    border-radius: .5rem;
}
.concepto{
    padding-top: 8rem;
}
.concepto > img {
    margin-top: 2rem;
}
.concepto-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.concepto-concepto{
    font-size: 1.8rem;
    font-weight: 400;
}
.concepto-info{
    width: 50%;
    font-size: 1.5rem;
    padding-bottom: 5rem;
}
.concepto-flex > p {
    color: #F4C3B9;
}

.boton-proyecto > p{
    color: #F4C3B9;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 8rem;
    margin: 0;
}
.boton-proyecto-proyecto > h5{
    color: #F4C3B9;
    font-size: 8vw;
    padding-bottom: 2rem;
    margin: 0;

}
.imagenes-celuEasy{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8rem;
}
.imagen-celu{
    width: 20%;
    border-radius: 1rem;
}
@media only screen and (max-width: 1136px) {
    .primera-imagen {
        height: 15rem;
        padding-left: 2rem;
        padding-right: 4rem;
    }
}
@media only screen and (max-width: 1024px) {
    .primera-imagen {
        padding-right: 2rem;
    }
}
@media only screen and (max-width: 800px) {
    .imagenes-celuEasy {
        flex-direction: column;
        align-items: center;
            
    }
    .imagen-celu {
        width: 70%;
        border-radius: 1rem;
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 650px) {
    .concepto-flex{
        display: block;
        width: 100%;
    }   
    .concepto-info{
        width: 100%;
    }
}