.primera-imagen{
    height: 15rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.primera-imagen-img {
    width: 100%;
    border-radius: .5rem;
}
.duo-imagenes-crypto{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    border-radius: .5rem;
    height: 25rem;
}
.duo-imagenes-crypto-izq{
    border-radius: .5rem;
    width: 60%;
}
.duo-imagenes-crypto-der {
    align-self: center;
    border-radius: .5rem;
    height: 50%;
    gap: 1rem;
}
.concepto{
    padding-top: 8rem;
}
.concepto > img {
    margin-top: 2rem;
}
.concepto-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.concepto-concepto{
    font-size: 1.8rem;
    font-weight: 400;
}
.concepto-info{
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5rem;
}
.concepto-flex > p {
    color: #F4C3B9;
}
.imagenes-celu{
    display: flex;
    padding-top: 2rem;
}
.imagenes-celu > img{
    border-radius: 1rem;
    width: 20%;
}

.boton-proyecto > p{
    color: #F4C3B9;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 8rem;
    margin: 0;
}
.boton-proyecto-proyecto > h5{
    color: #F4C3B9;
    font-size: 8vw;
    padding-bottom: 2rem;
    margin: 0;
}
.boton-proyecto > a {
    text-decoration: none;
}
@media only screen and (max-width: 1136px) {
    .primera-imagen {
        height: 15rem;
        padding-left: 2rem;
        padding-right: 4rem;
    }
    .duo-imagenes-crypto{
        display: block;
        height: 100%;
    }
    .duo-imagenes-crypto > img{
        width: 100%;
    }
    .duo-imagenes-crypto-der{
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    .primera-imagen {
        padding-right: 2rem;
    }
}
@media only screen and (max-width: 800px) {
    .imagenes-celuEasy{
        display: ;
    }
}
@media only screen and (max-width: 650px) {
    .concepto-flex{
        display: block;
        width: 100%;
    }   
    .concepto-info{
        width: 100%;
    }
}